$max-page-width: 800px;
$page-margin: 20px;

/* =Base */

.d-inline {
    display: inline;
}


/* =Font sizes */

html {
    font-size: 20px;
}

article {
    line-height: 1.2rem;
}

.page-title {
    line-height: 1rem;
}

body {
    font-family: 'Inconsolata';
    color: $iron;
    background-color: $dorian;
}

a {
    color: $cloudy;
    text-decoration: none;

    &:hover {

    }
}

h1, h2, h3, h4, h5 {
    margin-top: 1.5em;
    font-size: 1.6em;
    line-height: 1em;
}

/* =Table of contents */

@counter-style cs-numeric {
  system: numeric;
  symbols: A B C D E;
  suffix: " ";
}

#table-of-contents {
    margin-top: 3em;

    .topic-title {
        font-size: 1.6em;
    }

    > ul {
        margin-top: 1.7em;
        margin-left: 1.7em;
    }

    // make the selector less specific, so that
    // the > ul margins above take precedence
    :where(ul) {
        margin-top: .3em;
        margin-bottom: .3em;
        list-style-type: none;
        list-style-position: outside;
        // use a custom counter to:
        //  - have proper hierarchical numbering
        //  - have lists starting at 0
        counter-reset: toc -1;

        li {
            counter-increment: toc;
            margin-top: .3em;
            margin-bottom: .3em;
        }

        // use ::marker instead of ::before
        // so that list-style-position works
        li::marker {
            content: counters(toc, ".") ".  ";
            font-size: .85em;
            color: #929292;
            float: left;
            clear: both;
        }
    }

    // override for second level lists
    ul ul {
        margin-top: .15em;
        margin-bottom: .15em;

        li {
            margin-top: .15em;
            margin-bottom: .15em;
        }

        li::marker {
            color: #C2C2C2;
        }
    }
}

img {
    margin: 40px auto;
    display: block;
    max-width: 100%;
}

blockquote {
    margin:0px;
    margin-top: 40px;
    margin-bottom: 70px;
    padding: 0px;
    text-align: center;
    position: relative;

    footer {
        position: absolute;
        bottom: -35px;
        font-size: 15px;
        color: $iron;
        letter-spacing: 0px;
        left:0px;
        right: 0px;

        &:before { content: "** "; }
        &:after { content: " **"; }
    }

    p {
        display: inline;
        font-size: 20px;
        color: $cloudy;
        font-weight: 400;
        &:before { content: "“ "; }
        &:after { content: " ”"; }
    }
}

/* =Spacers */

hr.docutils {
  margin: 4rem 5%;
  opacity: 0.5;
}

/* =Footnotes */

.footnote-reference {
    font-size: 0.7em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.35em;

    /* shift the reference left by half a char */
    left: -0.5ex;
    margin-right: -0.5ex;
}

.footnote {
    font-size: 0.8em;

    .label::after {
	content: "  ";
	white-space: pre;
    }
}

/* =Definitions */

dl.docutils {
    font-size: 0.9em;

    dt {
	margin-top: 1.5rem;
	font-weight: bold;
    }

    dd {
	margin-left: 2.5rem;
	margin-top: 0.1rem;
    }
}


/* =Tables */

// add padding to cells
table.docutils:not(.footnote) {
    // margins
    margin-bottom: .7em;
    td, th {
        padding: .05em .5em;
    }

    // remove default borders
    th, td, & {
        border: none;
    }

    // add borders
    thead {
        border-bottom: 1px dashed $pencil;
    }
    td, th {
        &:not(:first-child) {
            border-left: 1px solid $pencil;
        }
    }
}

li {
    p {
        margin: 0;
    }
}
/* =Figure captions */

.figure > .caption {
    padding: 0 4em;
    font-size: 70%;
    text-align: center;
}


/* =Code blocks */
.highlight, .literal, .literal-block:not(.text-diagram) {
  border: 1px solid $pencil;
  border-radius: 4px;
  word-break: break-all;
  background-color: $dorian;

  font-size: .8em;
  padding: .6em;

  pre {
      margin: 0;
      line-height: 125%;
  }
}

.text-diagram {
    margin-top: .6em;
    margin-bottom: .6em;
    font-size: .8em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    max-width: 100%;
    box-sizing: content-box;
    line-height: .95rem;
}



/* =Inline code */
code.highlight, .literal {
  padding: .1em .3em;
  font-size: .75em;
}

strong {
    color: $iron;
}

/* =Header */
.wrapper {
    max-width: $max-page-width + 2 * $page-margin;
    margin: 100px auto;
    padding: 0 $page-margin;
}

.header {
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#header-title {
    flex-grow: 1;
}

.language-buttons {
    flex-grow: 1;
    margin: 0.8em 0;
    padding: 0 0.8em;
}

.container-vcenter {
    display: flex;
    align-items: center;
    align-content: center;
}

.falign-right {
    justify-content: right;
}

.falign-center {
    justify-content: center
}

.header {
    overflow: hidden;
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: $iron;
    display: block;
}

.menu {
    color: $cloudy;
    margin: 0.3em 0 0;
    padding: 0px;
    list-style-type: none;
}

.menu_entry {
    display: inline-block;
    margin-right: 35px;

    a {
        font-weight: 400;
    }

    &:last-child {
        margin-right: 0px;
    }
}

.social-links {
    float:right;
    font-size: 24px;
    color: $cloudy;
    list-style-type: none;
    margin: 0 0 0 1em;
    padding: 0;
}

.social-links_entry {
    display: inline-block;
}

/* =Titles */
.page-title {
    margin-top:100px;
    margin-bottom:100px;
    line-height: 2rem;
    text-align: center;
    & > sub {
        font-size: 0.87em;
    }
}

.page-title_text {
    font-weight: 700;
    font-size: 1.92em;
}

.page-title_subtitle {
    font-weight: 400;
    font-size: 1.1em;
    color: $cloudy;
}

/* =Home page */

main {
    margin-top: 4em;
}

/* =Post teasers */

.post-teasers {
    list-style-type: none;
    padding: 0px;
    margin-top: 3em;
    & > li {
        margin-bottom: 1.5em;
        font-weight: 700;
    }
}

.post-tags {
    display: inline-block;
    padding: 1em;
}

.post-teaser_title {
    font-size: 1.1rem;
    color: $iron;
}

.post-teaser_date {
    line-height: 1.1rem;
    font-size: 0.8rem;
    float: right;
    vertical-align: middle;
    color: $cloudy;
}

.post-tag {
    padding: 1em;
}

/* =Explore */
.explore {
    text-align: center;
    color: $cloudy;
    margin-top: 80px;
}

.explore_devider {
    font-size: 18px;
    letter-spacing: 8.18px;
}

.explore_label {
    font-size: 14px;
    margin-top: 15px;
}

.article_about {
    @extends .explore_label;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.categories {
    list-style-type: none;
    margin-top: 15px;
    padding: 0px;
}

.categories_item {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
}

.categories_item a {
    color: $iron;
}

.categories_item:after {
    content: "/";
    margin-left: 6px;
    margin-right: 6px;
    color: $cloudy;
}

.categories_item:last-child:after {
    content: "";
    margin-left: 0px;
    margin-right: 0px;
}


/* =Post page */

#disqus_thread {
    margin-top: 100px;
}

@media (max-width: $max-page-width) {
    /* =Base */

    .navigation {
        @include centered-block();
    }

    header {
        text-align: center;
    }

    #header-title {
        width: 100%;
    }

    div.language-buttons {
        justify-content: center;
    }


    // less margin, less scrolling
    div.wrapper {
        margin-top: 50px;
    }

    .page-title {
        margin-top: 80px;
        margin-bottom: 60px;
    }


    // post teasers date positioning

    .post-teaser_title::after {
	content: "\a";
	white-space: pre;
    }

    .post-teaser_date {
	float: none;
	margin-left: 0.5rem;
    }
}
