$max-page-width: 800px;
$page-margin: 20px;

/* =Base */

.d-inline {
    display: inline;
}

body {
    font-family: 'Inconsolata';
    color: $iron;
    background-color: $dorian;
}

a {
    color: $cloudy;
    font-weight: bold;
    text-decoration: none;

    &:hover {

    }
}

p, li {
    font-size: 20px;
    line-height: 1.2em;
}

h2, h3, h4, h5 {
    margin-top: 1.5em;
    font-size: 2em;
}

img {
    margin: 40px auto;
    display: block;
    max-width: 100%;
}

blockquote {
    letter-spacing: 3px;
    margin:0px;
    margin-top: 40px;
    margin-bottom: 70px;
    padding: 0px;
    text-align: center;
    position: relative;

    footer {
        position: absolute;
        bottom: -35px;
        font-size: 15px;
        color: $iron;
        letter-spacing: 0px;
        left:0px;
        right: 0px;

        &:before { content: "** "; }
        &:after { content: " **"; }
    }

    p {
        display: inline;
        font-size: 20px;
        color: $cloudy;
        font-weight: 400;
        &:before { content: "“ "; }
        &:after { content: " ”"; }
    }
}

/* =Inline code */
p > code, li > code {
  padding: .1em .3em;
  font-size: .75em;
  border: 1px solid $pencil;
  border-radius: 4px;
  word-break: break-all;
  background-color: $dorian;
}

/* =Bigger code blocks */
pre {
    font-size: .8em;
    padding: .6em;
    border: $cloudy solid 1px;
    white-space: pre-wrap;
    border: 1px solid $pencil;
    border-radius: 4px;
    word-break: break-all;
    background-color: $dorian;
}

strong {
    color: $iron;
}

/* =Header */
.wrapper {
    max-width: $max-page-width + 2 * $page-margin;
    margin: 100px auto;
    padding: 0 $page-margin;
}

.header {
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#header-title {
    flex-grow: 1;
}

.language-buttons {
    flex-grow: 1;
    margin: 1em 0;
    padding: 0 1em;
}

.container-vcenter {
    display: flex;
    align-items: center;
    align-content: center;
}

.falign-right {
    justify-content: right;
}

.falign-center {
    justify-content: center
}

.header {
    overflow: hidden;
}

.logo {
    font-size: 50px;
    font-weight: 700;
    color: $iron;
    display: block;
}

.menu {
    color: $cloudy;
    font-size: 18px;
    margin: 0.3em 0 0;
    padding: 0px;
    list-style-type: none;
}

.menu_entry {
    display: inline-block;
    margin-right: 35px;

    a {
        font-weight: 400;
    }

    &:last-child {
        margin-right: 0px;
    }
}

.social-links {
    float:right;
    font-size: 24px;
    color: $cloudy;
    list-style-type: none;
    margin: 0 0 0 1em;
    padding: 0;
}

.social-links_entry {
    display: inline-block;
}

/* =Titles */
.page-title {
    margin-top:100px;
    margin-bottom:100px;
    text-align: center;
    font-size: 1.2em;
    & > sub {
        font-size: 0.9em;
    }
}

.page-title_text {
    font-weight: 700;
}

.page-title_subtitle {
    font-weight: 400;
    font-size: 22px;
    color: $cloudy;
}

/* =Home page */

main {
    margin-top: 4em;
}

/* =Post teasers */

.post-teasers {
    list-style-type: none;
    padding: 0px;
    margin-top: 2em;
    & > li {
        margin-bottom: 2em;
        font-weight: 700;
    }
}

.post-tags {
    display: inline-block;
    padding: 1em;
}

.post-teaser_title {
    font-size: 22px;
    color: $iron;
}

.post-teaser_date {
    font-size: 16px;
    float: right;
    vertical-align: middle;
    color: $cloudy;
}

.post-tag {
    padding: 1em;
}

/* =Explore */
.explore {
    text-align: center;
    color: $cloudy;
    margin-top: 80px;
}

.explore_devider {
    font-size: 18px;
    letter-spacing: 8.18px;
}

.explore_label {
    font-size: 14px;
    margin-top: 15px;
}

.article_about {
    @extends .explore_label;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.categories {
    list-style-type: none;
    margin-top: 15px;
    padding: 0px;
}

.categories_item {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
}

.categories_item a {
    color: $iron;
}

.categories_item:after {
    content: "/";
    margin-left: 6px;
    margin-right: 6px;
    color: $cloudy;
}

.categories_item:last-child:after {
    content: "";
    margin-left: 0px;
    margin-right: 0px;
}


/* =Post page */

#disqus_thread {
    margin-top: 100px;
}

@media (max-width: $max-page-width) {
    /* =Base */

    .navigation {
        @include centered-block();
    }

    header {
        text-align: center;
    }

    #header-title {
        width: 100%;
    }

    div.language-buttons {
        justify-content: center;
    }


    // less margin, less scrolling
    div.wrapper {
        margin-top: 50px;
    }

    .page-title {
        margin-top: 80px;
        margin-bottom: 60px;
    }
}
