@charset "UTF-8";
/* =Colors */
/* =Base */
.display-inh {
  display: inherit; }

body {
  font-family: "Inconsolata";
  color: #333333;
  background-color: #F5F5F5; }

a {
  color: #828282;
  font-weight: bold;
  text-decoration: none; }

p, li {
  font-size: 20px;
  line-height: 1.2em; }

h2, h3, h4, h5 {
  margin-top: 1.5em;
  font-size: 2em; }

img {
  margin: 40px auto;
  display: block;
  max-width: 100%; }

blockquote {
  letter-spacing: 3px;
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 70px;
  padding: 0px;
  text-align: center;
  position: relative; }
  blockquote footer {
    position: absolute;
    bottom: -35px;
    font-size: 15px;
    color: #333333;
    letter-spacing: 0px;
    left: 0px;
    right: 0px; }
    blockquote footer:before {
      content: "** "; }
    blockquote footer:after {
      content: " **"; }
  blockquote p {
    display: inline;
    font-size: 20px;
    color: #828282;
    font-weight: 400; }
    blockquote p:before {
      content: "“ "; }
    blockquote p:after {
      content: " ”"; }

/* =Inline code */
p > code, li > code {
  padding: .1em .3em;
  font-size: .75em;
  border: 1px solid #ccc;
  border-radius: 4px;
  word-break: break-all;
  background-color: #F5F5F5; }

/* =Bigger code blocks */
pre {
  font-size: .8em;
  padding: .6em;
  border: #828282 solid 1px;
  white-space: pre-wrap;
  border: 1px solid #ccc;
  border-radius: 4px;
  word-break: break-all;
  background-color: #F5F5F5; }

strong {
  color: #333333; }

/* =Header */
.wrapper {
  max-width: 840px;
  margin: 100px auto;
  padding: 0 20px; }

.header {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

#header-title {
  flex-grow: 1; }

.language-buttons {
  flex-grow: 1;
  margin: 1em 0;
  padding: 0 1em; }

.container-vcenter {
  display: flex;
  align-items: center;
  align-content: center; }

.falign-right {
  justify-content: right; }

.falign-center {
  justify-content: center; }

.badge-font-size {
  font-size: 1.5em; }

.header {
  overflow: hidden; }

.logo {
  font-size: 50px;
  font-weight: 700;
  color: #333333;
  display: block; }

.menu {
  color: #828282;
  font-size: 18px;
  margin: 0.3em 0 0;
  padding: 0px;
  list-style-type: none; }

.menu__entry {
  display: inline-block;
  margin-right: 35px; }
  .menu__entry:last-child {
    margin-right: 0px; }

.menu__entry a {
  font-weight: 400; }

.social-links {
  float: right;
  font-size: 24px;
  color: #828282;
  list-style-type: none;
  margin: 0 0 0 1em;
  padding: 0; }

.social-links__entry {
  display: inline-block; }

/* =Titles */
.page-title {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center; }

.page-title__text {
  font-weight: 700;
  font-size: 1.2em; }

.page-title__subtitle {
  font-weight: 400;
  font-size: 22px;
  color: #828282; }

/* =Home page */
main {
  margin-top: 4em; }

/* =Post teasers */
.list-posts {
  list-style-type: none;
  padding: 0px;
  margin-top: 2em; }

.post-tags {
  display: inline-block;
  padding: 1em; }

.post-tag {
  padding: 1em; }

/* =Explore */
.explore {
  text-align: center;
  color: #828282;
  margin-top: 80px; }

.explore__devider {
  font-size: 18px;
  letter-spacing: 8.18px; }

.explore__label {
  font-size: 14px;
  margin-top: 15px; }

.article__about {
  @extends .explore__label;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 30px; }

.categories {
  list-style-type: none;
  margin-top: 15px;
  padding: 0px; }

.categories__item {
  display: inline-block;
  font-weight: 700;
  font-size: 18px; }

.categories__item a {
  color: #333333; }

.categories__item:after {
  content: "/";
  margin-left: 6px;
  margin-right: 6px;
  color: #828282; }

.categories__item:last-child:after {
  content: "";
  margin-left: 0px;
  margin-right: 0px; }

/* =Post page */
.about {
  color: #828282;
  margin-top: 70px;
  text-align: center;
  line-height: 24px; }

.about__devider {
  font-size: 20px;
  margin-bottom: 50px;
  letter-spacing: 9.09px; }

.about__text {
  font-size: 18px; }

#disqus_thread {
  margin-top: 100px; }

@media (max-width: 800px) {
  /* =Base */
  .navigation {
    display: block;
    text-align: center;
    width: 100%; }
  header {
    text-align: center; }
  #header-title {
    width: 100%; }
  .language-buttons {
    justify-content: center !important; }
  div.wrapper {
    margin-top: 50px; }
  .page-title {
    margin-top: 80px;
    margin-bottom: 60px; } }

/* Source: http://codepen.io/bulby97/pen/fcvay */
.glitch {
  position: relative;
  animation: glitch 2s steps(100) infinite; }

@keyframes glitch {
  0% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue; }
  1% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue; }
  2% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue; }
  3% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue; }
  4% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue; }
  5% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue; }
  6% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue; }
  7% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue; }
  8% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue; }
  9% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue; }
  10% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue; }
  11% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime; }
  12% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime; }
  13% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime; }
  14% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime; }
  15% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime; }
  16% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime; }
  17% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime; }
  18% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime; }
  19% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime; }
  20% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime; }
  21% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime; }
  22% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime; }
  23% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime; }
  24% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime; }
  25% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime; }
  26% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime; }
  27% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime; }
  28% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime; }
  29% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime; }
  30% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime; }
  31% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime; }
  32% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime; }
  33% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime; }
  34% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime; }
  35% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime; }
  36% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime; }
  37% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime; }
  38% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime; }
  39% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime; }
  40% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime; }
  41% {
    text-shadow: 50px 0 0 blue, -50px 0 0 lime; }
  42% {
    text-shadow: 0 0 0 blue, 0 0 0 lime; }
  43% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime; }
  44% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime; }
  45% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime; }
  46% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime; }
  47% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime; }
  48% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime; }
  49% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime; }
  50% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime; }
  51% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue; }
  52% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue; }
  53% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue; }
  54% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue; }
  55% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue; }
  56% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue; }
  57% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue; }
  58% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue; }
  59% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue; }
  60% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue; }
  61% {
    text-shadow: 30px 0 0 red, -30px 0 0 lime; }
  62% {
    text-shadow: 0 0 0 red, 0 0 0 lime; }
  63% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue; }
  64% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue; }
  65% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue; }
  66% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue; }
  67% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue; }
  68% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue; }
  69% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue; }
  70% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue; }
  71% {
    text-shadow: 70px 0 0 red, -70px 0 0 blue; }
  72% {
    text-shadow: 0 0 0 red, 0 0 0 blue; }
  73% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue; }
  74% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue; }
  75% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue; }
  76% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue; }
  77% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue; }
  78% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue; }
  79% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue; }
  80% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue; }
  81% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime; }
  82% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime; }
  83% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime; }
  84% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime; }
  85% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime; }
  86% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime; }
  87% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime; }
  88% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime; }
  89% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime; }
  90% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime; }
  91% {
    text-shadow: 60px 0 0 lime, -60px 0 0 blue; }
  92% {
    text-shadow: 0 0 0 lime, 0 0 0 blue; }
  92% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime; }
  93% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime; }
  94% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime; }
  95% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime; }
  96% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime; }
  97% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime; }
  98% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime; }
  99% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime; }
  100% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime; } }

/* Custom */
.go-home {
  text-align: center; }

.highlight .hll {
  background-color: #ffffcc; }

.highlight .c {
  color: #408080;
  font-style: italic; }

/* Comment */
.highlight .err {
  border: 1px solid #FF0000; }

/* Error */
.highlight .k {
  color: #008000;
  font-weight: bold; }

/* Keyword */
.highlight .o {
  color: #666666; }

/* Operator */
.highlight .ch {
  color: #408080;
  font-style: italic; }

/* Comment.Hashbang */
.highlight .cm {
  color: #408080;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #BC7A00; }

/* Comment.Preproc */
.highlight .cpf {
  color: #408080;
  font-style: italic; }

/* Comment.PreprocFile */
.highlight .c1 {
  color: #408080;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #408080;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #A00000; }

/* Generic.Deleted */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #FF0000; }

/* Generic.Error */
.highlight .gh {
  color: #000080;
  font-weight: bold; }

/* Generic.Heading */
.highlight .gi {
  color: #00A000; }

/* Generic.Inserted */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #000080;
  font-weight: bold; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #800080;
  font-weight: bold; }

/* Generic.Subheading */
.highlight .gt {
  color: #0044DD; }

/* Generic.Traceback */
.highlight .kc {
  color: #008000;
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  color: #008000;
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kn {
  color: #008000;
  font-weight: bold; }

/* Keyword.Namespace */
.highlight .kp {
  color: #008000; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #008000;
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #B00040; }

/* Keyword.Type */
.highlight .m {
  color: #666666; }

/* Literal.Number */
.highlight .s {
  color: #BA2121; }

/* Literal.String */
.highlight .na {
  color: #7D9029; }

/* Name.Attribute */
.highlight .nb {
  color: #008000; }

/* Name.Builtin */
.highlight .nc {
  color: #0000FF;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #880000; }

/* Name.Constant */
.highlight .nd {
  color: #AA22FF; }

/* Name.Decorator */
.highlight .ni {
  color: #999999;
  font-weight: bold; }

/* Name.Entity */
.highlight .ne {
  color: #D2413A;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #0000FF; }

/* Name.Function */
.highlight .nl {
  color: #A0A000; }

/* Name.Label */
.highlight .nn {
  color: #0000FF;
  font-weight: bold; }

/* Name.Namespace */
.highlight .nt {
  color: #008000;
  font-weight: bold; }

/* Name.Tag */
.highlight .nv {
  color: #19177C; }

/* Name.Variable */
.highlight .ow {
  color: #AA22FF;
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mb {
  color: #666666; }

/* Literal.Number.Bin */
.highlight .mf {
  color: #666666; }

/* Literal.Number.Float */
.highlight .mh {
  color: #666666; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #666666; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #666666; }

/* Literal.Number.Oct */
.highlight .sa {
  color: #BA2121; }

/* Literal.String.Affix */
.highlight .sb {
  color: #BA2121; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #BA2121; }

/* Literal.String.Char */
.highlight .dl {
  color: #BA2121; }

/* Literal.String.Delimiter */
.highlight .sd {
  color: #BA2121;
  font-style: italic; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #BA2121; }

/* Literal.String.Double */
.highlight .se {
  color: #BB6622;
  font-weight: bold; }

/* Literal.String.Escape */
.highlight .sh {
  color: #BA2121; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #BB6688;
  font-weight: bold; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #008000; }

/* Literal.String.Other */
.highlight .sr {
  color: #BB6688; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #BA2121; }

/* Literal.String.Single */
.highlight .ss {
  color: #19177C; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #008000; }

/* Name.Builtin.Pseudo */
.highlight .fm {
  color: #0000FF; }

/* Name.Function.Magic */
.highlight .vc {
  color: #19177C; }

/* Name.Variable.Class */
.highlight .vg {
  color: #19177C; }

/* Name.Variable.Global */
.highlight .vi {
  color: #19177C; }

/* Name.Variable.Instance */
.highlight .vm {
  color: #19177C; }

/* Name.Variable.Magic */
.highlight .il {
  color: #666666; }

/* Literal.Number.Integer.Long */
