{% from 'meta.html' import head_meta with context %}
{% extends "base.html" %}
{% block title %}{{ article.title }}{{ " - " }}{{SITENAME}}{% endblock title %}
{% block head_meta -%}
{{ head_meta(article.author, SITENAME) }}
{% endblock %}
{% block content %}
<article>
  <h1 class="page-title">
    <div>
      <span class="page-title__text">{{ article.title }}</span>
      {% import 'translations.html' as translations with context %}
      <sub><small>{{ translations.translations_for(article) }}</small></sub>
    </div>
    {% if article.subtitle %}
    <div class="page-title__subtitle">{{ article.subtitle }}</div>
    {% endif %}
  </h1>

  {{ article.content }}
  {% include 'disqus.html' %}
</article>
{% endblock %}
{% block footer_stars %}
<div class="article__about">
  {% set authors=[] %}
  {% for author in article.authors %}
  {% do authors.append('<a href="' ~ (SITEURL | e) ~ "/" ~ (author.url | e) ~ '">' ~ (author | e) ~ '</a>') %}
  {% endfor %}
  {% set authors=(("<strong>" ~ (authors | join("")) ~ "</strong>") | safe) %}
  {% set article_date=("<strong>" ~ (article.locale_date | e) ~ "</strong>" | safe) %}
  {% set article_category=(('<a href="' ~ (SITEURL | e) ~ "/" ~ (article.category.url | e) ~ '">' ~ (article.category | e) ~ '</a>') | safe) %}
  {% strip false %}
  {%- trans authors=authors, date=article_date, category=article_category -%}
  Written by {{ authors }} on {{ date }}, in {{ category }}
  {%- endtrans %}
  {% endstrip %}
  {% if article.tags|length != 0 %}
  <br><br>
  {% set tags=[] %}
  {% for tag in article.tags %}
  {% do tags.append('<a href="' ~ (SITEURL | e) ~ "/" ~ (tag.url | e) ~ '">' ~ (tag | e) ~ '</a>') %}
  {% endfor %}
  {% set tags=((tags | join(", ")) | safe) %}
  {%- trans tags=tags -%}
  Tagged as {{ tags }}
  {%- endtrans %}
  {% endif %}
</div>

{{ super() }}
{% endblock %}
